/* App Specific Styles */

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--soft-white);
  overscroll-behavior: none;
  position: relative;
}

main {
  flex: 1;
  background-color: var(--soft-white);
  padding-top: 103px;
}

/* Section Backgrounds */
.bg-light-custom {
  background-color: var(--light-gray) !important;
}

.bg-primary-custom {
  background-color: var(--light-green) !important;
}

/* Responsive Design */
@media (max-width: 768px) {
  .App {
    min-height: 100vh;
  }
}